.container {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 12px;
}

.jumbotron {
    background-image: url('../../Images/belly-button.jpg');
    background-size: 100% 200%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    border: 2px solid white;
    box-shadow: 10px 10px 20px;
}

a {
    color: black;
}

.navbar {
    margin-bottom: 0;
}

